@using DAISIS.Models
@{
    ViewBag.Title = "Home Page";

    Games game = ViewBag.Game;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>@game.name (@game.GetDesigner().name)</h2>
                <ul class="nav nav-tabs card-header-tabs mt-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#description" data-toggle="tab">Popis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#ratings" data-toggle="tab">Hodnocení</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#threads" data-toggle="tab">Příspěvky</a>
                    </li>
                </ul>
            </div>
            <div class="card-body tab-content">
                <div id="description" class="container tab-pane active">
                    <h3 class="mb-3">Popis hry</h3>
                    <p>@game.description</p>
                </div>
                <div id="ratings" class="container tab-pane">

                </div>
                <div id="threads" class="container tab-pane">
                    @{ Html.RenderAction("Index", "Threads", new {gameId = game.gameID}); }
                </div>
            </div>
        </div>
    </div>
</div>