@using DAISIS.Models
@{
    ViewBag.Title = "Home Page";

    Designers designer = ViewBag.Designer;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>@designer.name</h2>
            </div>
        </div>
    </div>
</div>